<!doctype html>
<html ng-app="app">

<head>
    <meta charset="UTF-8">
    <title>New Market - My Super Market</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="css/login.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/controllers/loginController.js"></script>
    <script type="text/javascript" src="js/directives/validateEquals.js"></script>
    <script type="text/javascript" src="js/services/services.js"></script>

</head>

<body ng-controller="loginController" ng-cloak>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <img src="images/logo.png" alt="New Market" id="logo">
                <a class="navbar-brand" href="login">Smart Shopping</a> 
                <p>{{fullName}}</p>
                <form action="/logout" method="get">
                    <button type="submit" class="btn btn-info" ng-show="userConnectedBtns">Logout</button>
                </form>
            </div>
        </div>
    </nav>
    <nav class="navbar navbar-inverse">
        <ul class="nav navbar-nav">
            <li><a href="#!/login">Login</a></li>
            <li><a href="#!/signup">Signup</a></li>
            <li><a href="#!/social">Social</a></li>
        </ul>
    </nav>
    <div class="authenticateSection" ng-view>

    </div>
        <div class="startShopping">
            <button class="btn btn-warning" ng-show="userConnectedBtns">{{shoppingStatus}}</button>
        </div>
        <div>
            <p ng-if="openCart">
                {{openCart.cart.price}} {{openCart}}
            </p>
            <p ng-if="lastOrder">
                {{lastOrder.cart.price}}
                <h1 ng-if="lastOrder">last order</h1>
            </p>
            <p ng-if="!openCart && !lastOrder">
                no orders no cart
            </p>
        </div>
        <button ng-click="addProduct(p1)">{{p1.products.name}}</button>
        <button ng-click="addProduct(p2)">{{p2.products.name}}</button>
        <button ng-click="addProduct(p3)">{{p3.products.name}}</button>
</body>

</html>
