body {
    background-color: #ddd;
}

header {
    background-color: #1C6131;
    display: fixed;
}

nav {
    display: flex;
    flex-wrap: wrap;
    column-count: 3;
}

.brand {
    display: flex;
    width: 15%;
    order: 1;
}

#logo {
    padding: 10px;
}

.search-bar {
    display: flex;
    align-items: center;
    flex: 1;
    order: 2;
    justify-content: center;
}

.search-bar input {
    letter-spacing: 0.7px;
    background: transparent;
    border-radius: 10px;
    border: none;
    padding: 5px 10px;
    font-size: 22px;
    color: white;
    border-bottom: 1px solid #fef
}

.search-bar input:focus {
    outline: 0;
}

.search-bar input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: white;
}

.search-bar input::-moz-placeholder {
    /* Firefox 19+ */
    color: white;
}

.search-bar input:-ms-input-placeholder {
    /* IE 10+ */
    color: white;
}

.search-bar input:-moz-placeholder {
    /* Firefox 18- */
    color: white;
}

#logoutForm {
    display: flex;
    flex-direction: row-reverse;
    width: 20%;
    order: 3;
    padding: 15px 30px;
    align-items: flex-start;
}

#logoutBtn {
    display: flex;
    order: 1;
    border: none;
    background: none;
    color: white;
    transition: 0.4s;
}

#logoutBtn:hover {
    color: #1C6131;
    border-bottom-color: #1C6131;
    transition: 0.2s;
}

#fullname {
    display: flex;
    order: 2;
    color: white;
    transition: 0.4s;
    margin-top: 1px;
}

#fullname i {
    padding: 3px;
    padding-top: 2px;
}

section {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    word-break: break-all;
}

.categories-wrapper {
    width: 15%;
    display: inline-block;
    box-shadow: 12px 0px 12px -10px #1c6131
}

#categories-heading {
    display: flex;
    word-wrap: break-word;
    text-align: center;
    z-index: 999;
    padding: 0 20px;
}

#buttons-wrapper {
    list-style-type: none;
    padding-left: 23px;
    font-size: 18px;
    position: relative;
    transition: 1s;
    z-index: 900;
}

.buttons-wrapper-close {
    transition: 1s;
    left: -210px;
}

.rotate-h {
    cursor: pointer;
    transition: 1s;
    position: relative;
    left: 10px;
    transform-origin: left;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
}

.products-container , .order-container {
    display: inline-block;
    flex-wrap: wrap;
    justify-content: center;
    width: 62%;
    padding-top: 20px;
}

.add-product {
    box-shadow: -12px 0px 12px -10px #1c6131;
    width: 20%;
    display: flex;
    flex-wrap: wrap;
    padding: 0 20px;
}

#add-heading {
    text-align: center;
}

#myFile {
    cursor: pointer;
}

#myFile::-webkit-file-upload-button {
    background: #eee;
    border: none;
    cursor: pointer;
}

#myFile::-webkit-file-upload-button:focus {
    outline: 0;
}

.categotyBtn {
    cursor: pointer;
    padding: 0px 0;
    padding-top: 4px;
    border: 3px solid #dddddd;
}

.category-selected {
    border-left: 3px solid green;
    padding-left: 5px;
    transition: 0.5s;
}

.cell {
    padding: 15px;
    text-align: center;
    margin-bottom: 30px;
    background-image: linear-gradient(to top, #fafafa 0, #fdfdfd 20%, #fff 60%);
    box-shadow: 1px 1px 3px 0 #f2f2f2;
    border: 1px solid #eee;
    width: 200px;
    margin-right: 10px;
}

.cell > img {
    display: block;
    margin: auto;
    height: 100px;
    max-width: 80%;
}

.products-container p {
    text-align: center;
}

.name {
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.products-container button {
    line-height: 28px;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    border: none;
    outline: none;
    border-radius: 5px;
    box-shadow: 2px 2px 3px #CCCCCC;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;

}

.bootstrap-datetimepicker-widget td.disabled {
    background-color: #e79494 !important;
    color: black !important;
}


/*---*/

.window {
  display: none;
    position: fixed;
    z-index: 160010;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.8);
}
.window h1, .window h3, .panel-footer{
  text-align: center;
}
.box {
    border-radius: 8px;
    width: 45%;
    background-color: transparent;
    margin: 5% auto;
    padding: 20px;
}
.panel {
    background: linear-gradient(white, #d9d5d5);
    border: none;
    box-shadow: -9px 11px 49px 2px rgba(0, 0, 0, 0.75);
}
.panel-success > .panel-heading, .panel-footer {
    color: rgb(0, 181, 180);
    background-color: transparent;
    border: none;
}
.panel-body {
    padding-left: 6px;
    padding-right: 6px;
    max-width: 100%;
    margin-right: 0px !important;
    margin-left: 0px !important;
}
.panel-footer {
    padding: 10px 16px;
}

.panel-success > .panel-heading, .panel-footer {
    color: rgb(0, 181, 180);
    background-color: transparent;
    border: none;
}

#download{
  display: none;
}