body {
    padding: 0;
    margin: 0;
    background-color: #fff;
    background-image: url('../images/background2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Telex', sans-serif;
    letter-spacing: 0.8px
}
button:focus, input:focus {
    outline: 0;
}
header {
    display: flex;
    margin-bottom: 10px;
    background-color: #272425;
    position: fixed;
    height: 50px;
    width: 100%;
}
.header-logo {
    display: inline-block;
}
#logo {
    padding: 10px;
    transform: rotate(-20deg)
}

#logoutForm {
    display: inline-block;
    text-align: right;
    padding: 15px 30px;
    color: white;
}

#logoutForm p { 
    display: inline-block;
}
#logoutBtn {
    display: inline-block;
    border: none;
    background: none;
    color: white;
    transition: 0.3s all;
    font-family: 'Leckerli One', cursive;
    font-size: 17px;
}
#logoutBtn:hover {
    color: #93b2cc;
}

.search-bar {
    display: inline-block;
    margin: auto;
}

.search-bar input {
    letter-spacing: 0.7px;
    background: transparent;
    border-radius: 0px;
    border: none;
    padding: 5px 10px;
    font-size: 20px;
    color: white;
    transition: 0.6s all;
    border-bottom: 0.9px dotted rgba(255,255,255,0);
    text-align: center;
}

.search-bar input:focus {
    outline: 0;
    border-bottom: 0.9px dotted rgba(255,255,255,0.6);
}

.search-bar input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: white;
    text-align: center;
}

.search-bar input::-moz-placeholder {
    /* Firefox 19+ */
    text-align: center;
    color: white;
}

.search-bar input:-ms-input-placeholder {
    /* IE 10+ */
    text-align: center;
    color: white;
}

.search-bar input:-moz-placeholder {
    /* Firefox 18- */
    text-align: center;
    color: white;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 210px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
    transition: 1s all ease-in;
}

.categories-wrapper , .add-product {
    flex-wrap: wrap;
    width: 285px;
    display: flex;
    flex-direction: column;
    background: rgba(255,255,255,0.6);
    height: 100%;
    margin: 15px;
    margin-top: 0px;
    transition: 1s ease-in;
}
.add-product {
    margin-bottom: auto;
    position: relative;
}

.add-product form {
    padding: 20px 20px 0px;
}

#categories-heading , #add-heading {
    display: flex;
    color: white;
    flex-wrap: wrap;
    background-color: #272425;
    padding: 13px;
    text-align: center;
    margin: 0;
    width: 100%;
    justify-content: center;
    height: 50px;
    font-family: 'Leckerli One', cursive;
}

#buttons-wrapper {
    padding: 20px;
    list-style-type: none;
    font-size: 18px;
    margin-bottom: 0;
}

.categoryBtn {
    font-size: 20px;
    text-transform: capitalize;
    cursor: pointer;
    padding: 10px;
    transition: 0.8s all;
}

.categoryBtn i {
    color: white;
    transition: 0.8s all;
}

#buttons-wrapper i.fa-circle {
    color: #272425;
    font-size: 19px;
    padding: 2px;
}
.products-container {
    transition: 1s all ease-in;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: auto;
}

.cell h4 {
    flex-direction: column;
    color: white;
    flex-wrap: wrap;
    background-color: #272425;
    padding: 13px;
    text-align: center;
    margin: 0;
    width: 100%;
}

.cell {
    transition: 1s all ease-in;
    text-align: center;
    margin: 0 8px 20px;
    background: rgba(255,255,255,0.6);
    box-shadow: 0px 0px 6px 0px #272425;
    width: 180px;
}

.cell > img {    
    display: block;
    msx-width: 80px;
    max-height: 100px;
    height: 100%;
    margin: 10px auto;
}

.products-container p {
    text-align: center;
}

.name {
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.products-container button {
    line-height: 28px;
    border: none;
    outline: none;
    background: transparent;
    text-transform: capitalize;
    color: #272425;
}
.cell input {
    width: 23px;
    border-radius: 50px;
    text-align: center;
    border: none;
    font-size: 15px;
    background: #272425;
    color: white;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.buttons-container {
    display: flex;
    color: white;
    flex-wrap: wrap;
    background-color: #272425;
    padding: 13px;
    text-align: center;
    margin: 0;
    width: 100%;
    justify-content: center;
    height: auto;
    font-family: 'Leckerli One', cursive;    
}

.buttons-container button {
    background: none;
    color: #fff;
    border: none;
    font-size: 16px;
    margin: 2px 5px;
    transition: 0.5s all ease-in;
}

.buttons-container button:hover { 
    color: #90c6e2;
    transition: 0.5s all ease-out;
}

#myFile {
    cursor: pointer;
}

.img-selected {
    margin: 0px auto;
    text-align: center;
}

.img-selected img {
    margin: 15px 10px 0;
    max-width: 200px;
    width: 100%;
    max-height: 200px;
    height: 100%;
}

.newCategory input {
    display: inline-block;
    width: 70%;
}

.newCategory button {
    display: inline-block;
    width: 28%;
    border: none;
    background: none;
    box-shadow: inset 0px 0px 3px 0px;
    padding: 6px 5px 5px;
    transition: 0.5s all ease-in;
}

.newCategory button:hover {
    background: rgba(68, 134, 53, 0.68);
    transition: 0.5s all ease-out;
    color: #fff;
}

#myFile::-webkit-file-upload-button {
    background: #eee;
    border: none;
    cursor: pointer;
}

#myFile::-webkit-file-upload-button:focus {
    outline: 0;
}
/*

@media (max-width: 1440px) {
    .categories-wrapper , .add-product {
        width: 48%; 
        order: 1;
        margin: 1%;
        height: auto;
    }
    
    .products-container {
        width:100%

    }
}*/

@media (max-width: 1170px){
    .categories-wrapper {
        order: 0;
    }
    .add-product {
        order: 1;
    }
    .products-container {
        margin-top: 15px;
        order: 2;
    }
}

@media (max-width: 768px) {
    header {
        z-index: 1;
        -webkit-flex-flow: column wrap;
        flex-flow: column wrap;
        padding: 0;
        height: auto;
    }
    #logoutForm {
        text-align: center;
    }
    .header-logo{
        position: absolute;
        top: -4px;
        left: -9px;
    }
    #logo {
        width: 50%;   
    }
    section {
        padding-top: 150px;
    }
    
    .categories-wrapper {
        order: 1;
    }
    .add-product {
        order: 2;
    }
    .products-container {
        order: 0;
    }
}
