<!doctype html>
<html ng-app="app">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>New Market Smart Shopping</title>
    <script src="https://use.fontawesome.com/56db94d4fd.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/3.1.3/js/bootstrap-datetimepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/3.1.3/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/admin.css">
    <link href="https://fonts.googleapis.com/css?family=Leckerli+One|Telex" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/services/services.js"></script>
    <script type="text/javascript" src="js/directives/product.js"></script>
    <script type="text/javascript" src="js/directives/category.js"></script>
    <script type="text/javascript" src="js/directives/search.js"></script>
    <script type="text/javascript" src="js/controllers/adminController.js"></script>
</head>
</head>

<body ng-controller="adminController" ng-cloak>
    <header>
        <div class="header-logo">
            <img src="images/logo.png" alt="New Market" id="logo">
        </div>
        <div class="search-bar">
            <input-search render="products"></input-search>
        </div>
        <form action="/logout" method="get" id="logoutForm" ng-show="isAdmin">
            <p id="fullname"> <i class="fa fa-user"></i> {{fullName}}</p>
            <button type="submit" id="logoutBtn" ng-click="userConnected = !userConnected">Log Out</button>
        </form>
    </header>
    <section ng-show="admin">
        <aside class="categories-wrapper">
            <h3 id="categories-heading">CATEGORIES</h3>
            <ul id="buttons-wrapper">
                <category-btn ng-repeat="category in categories" category="category" clicky="fetchProductsByCategory"></category-btn>
            </ul>
        </aside>
        <div class="products-container" ng-hide="checkoutMode">
            <product-wrap ng-repeat="product in products" product-data="product" label="'edit'" labell="'add'" edit-product="editProduct" add-product="addProduct" admin="isAdmin" select-quantity="selectQuantity"></product-wrap>
        </div>
        
        <div class="add-product">
            <h3 id="add-heading">ADD PRODUCT</h3>
            <form ng-init="getAllCategories()">
                <div class="form-group name">
                    <input type="text" class="form-control" placeholder="Product Name" name="name" ng-model="pname" id="pname" required>
                </div>
                <div class="form-group price">
                    <input type="text" class="form-control" placeholder="Product Price" name="price" ng-model="pprice" required>
                </div>
                <div class="form-group category" ng-hide="updateMode">
                    <select class="form-control" ng-model="cid" required>
                    <option value="" disabled selected>Select Category</option>
                    <option ng-repeat="category in categories" value="{{category._id}}" ng>{{category.name}}</option>
                    <option value="newCategory">Add new category</option>           
                </select>
                </div>
                <div class="form-group newCategory" ng-show="cid === 'newCategory'">
                    <input type="text" class="form-control" name="newCategory" ng-model="newCategory" placeholder="New Category">
                    <p ng-show="categoryExistErr">{{categoryExistErr}}</p>
                    <button type="button" class="" ng-click="addCategory()">Add</button>
                </div>
                <div class="form-group image">
                    <input type="file" class="form-control" id="myFile" name="image" ng-model="pimage" required>
                    <div class="img-selected"><img alt="" src="" width="100"></div>
                </div>
            </form>
            <div class="buttons-container">
                <button type="submit" class="" ng-click="addProduct()" ng-hide="updateMode">Add Product</button>
                <button type="button" class="" ng-click="updateProduct()" ng-show="updateMode">Update Product</button>
                <button type="button" class="" ng-click="resetForm()">RESET</i>
                </button>
                <button type="button" class="" ng-click="deleteProduct()" ng-show="updateMode">Delete Product</button>
            </div>
        </div>
    </section>
</body>

</html>
