<div class="form-container" ng-controller="loginController">
    <h3>LOG IN HERE!</h3>
    <form action="/login" method="POST" name="form" novalidate>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Username" name="username" required ng-model="username">
            <p ng-show="form.username.$dirty && form.username.$invalid">You must type your username</p>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Password" name="password" required ng-model="password">
            <p ng-show="form.password.$dirty && form.password.$invalid">You must type your password</p>
        </div>
        <div class="form-group">
            <button type="submit" ng-disabled="form.password.$invalid || form.username.$invalid" class="btn btn-info">Login</button>
            <p>
                <%=error%>
            </p>
        </div>
    </form>
</div>