<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Kalam" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <script type="text/javascript" src="../js/app.js"></script>
    <script type="text/javascript" src="adminController.js"></script>
    <script type="text/javascript" src="../js/services/services.js"></script>
</head>

<body ng-controller="adminController2">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <h1>LOGO</h1>
            </ul>
        </div>
    </nav>
    <h1>Welcome admin</h1>
    <div style="width:400px;margin:0 auto">
        <input type="text" ng-model="name" placeholder="product name"><br><br>
        <input type="number" ng-model="price" placeholder="product price $"><br><br>
        <select ng-model="category">
            <option value="" disabled selected>Category</option>
            <option ng-repeat="category in categories" value="{{category._id}}">{{category.name}}</option>
            <option value="new">Create new category</option>
        </select><br><br>
        <div ng-show="category == 'new'" >
            <input type="text" ng-model="ctg"placeholder="New category name">
            <button ng-click="addCtg()" >Add</button><br><br>
        </div>
        <input type="file" id="myfile"><br><br>
        <button id="uploadBtn" ng-click="upload()">Upload With Ajax</button>
    </div>
</body>

</html>
